{% extends "base.html.j2" %}

{% block title %}支付 - 百老匯影院{% endblock %}

{% block content %}
    <h2>支付頁面</h2>
    <p>請輸入您的付款信息。</p>
    <form>
        <label for="card_number">信用卡號碼:</label><br>
        <input type="text" id="card_number" name="card_number"><br>
        <label for="expiry_date">有效期:</label><br>
        <input type="text" id="expiry_date" name="expiry_date"><br><br>
        <input type="submit" value="提交">
    </form>
{% endblock %}